{% extends "base.html" %}
{% block content %}

<style>

body{
background:url("{{ url_for('static', filename='images/background.webp') }}") no-repeat center center fixed;
background-size:cover;
background-color:#001f3f;
font-family:'Cinzel', serif;
color:white;
text-align:center;
}

.product-stage{
margin-top:80px;
}

.product-image{
width:420px;
max-width:90%;
}

.product-title{
font-size:60px;
font-weight:900;
margin-top:30px;
}

.product-desc{
max-width:800px;
margin:20px auto;
font-size:18px;
line-height:1.6;
}

</style>


<div class="product-stage">

<img
src="{{ url_for('static', filename='images/banana-pd.webp') }}"
class="product-image"
alt="Cavendish Banana">

<h1 class="product-title">
Cavendish Banana
</h1>

<p class="product-desc">
Cavendish Bananas are the most widely traded banana variety in global markets.
They are known for uniform size, bright peel color, smooth texture, and naturally
sweet taste. This variety is preferred by importers and retailers due to its
consistent quality and strong consumer acceptance.
</p>

</div>


{% endblock %}