<!DOCTYPE html>
<html>
<head>
<title>Shastika Chatbot Test</title>

<link rel="stylesheet" href="{{ url_for('static', filename='chat-widget.css') }}">

</head>

<body>

<h2>Shastika Global Impex – Chatbot Demo</h2>

<link rel="stylesheet" href="{{ url_for('static', filename='chat-widget.css') }}">

<script src="{{ url_for('static', filename='chat-widget.js') }}"></script>
<iframe 
src="https://chatbot-e99e.onrender.com" 
width="100%" 
height="700px"
style="border:none;">
</iframe>
</body>
</html>